body{
  background-color: #131722 ;
  color: #fff !important;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
 .navbar-brand , .nav-link,.auth-link .nav-link{
color: #fff ;
}
.secondcolor{
  color: burlywood;
}
